@using Seyehat.Models.siniflar
@model List<Blog>
<div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">


        <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
            @foreach(var x in Model) { 
            <div class="w3-third w3-margin-bottom">
                <img src="@x.BlogResim" alt="New York" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>@x.Baslik</b></p>
                   <br />
                    <p>@x.Aciklama.Substring(0,100)....</p>
                    <button class="w3-button w3-black w3-margin-bottom"> <a href="\Blog\BlogDetay\@x.ID">Devamını Oku</a></button>
                </div>
                
            </div>
            }

            @*<div class="w3-third w3-margin-bottom">
                <img src="/web/images/post2.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>Paris</b></p>
                    <p class="w3-opacity">Sat 28 Nov 2016</p>
                    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Devamını Oku</button>
                </div>
            </div>
            <div class="w3-third w3-margin-bottom">
                <img src="/web/images/post3.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>San Francisco</b></p>
                    <p class="w3-opacity">Sun 29 Nov 2016</p>
                    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Devamını Oku</button>
                </div>
            </div>*@
        </div>
    </div>
</div>
